stockfish~=3.28.0
opencv-python~=4.6.0.66
numpy~=1.23.3
imutils~=0.5.4
scikit-image~=0.19.2
matplotlib~=3.5.1
setuptools~=45.2.0
dataclasses~=0.6
python-dotenv~=0.20.0
sewar~=0.4.5
chess~=1.9.3
requests~=2.27.1
CairoSVG~=2.5.2
Pillow~=9.2.0
pynput~=1.7.6